body {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
  }
}

ul {
  padding-left: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("./Police/Roboto-Regular.ttf");
  src: url("../Police/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("./Police/Shrikhand-Regular.ttf");
  src: url("../Police/Shrikhand-Regular.ttf");
}
h1 {
  font-family: "Shrikhand";
  font-size: 22px;
  color: black;
  font-style: revert;
  font-weight: revert;
}

h2 {
  font-family: "Roboto";
  font-size: 18px;
  color: black;
  font-style: revert;
  font-weight: revert;
}

h3 {
  font-family: "Roboto";
  font-size: 16px;
  color: black;
  font-style: revert;
  font-weight: revert;
}

p, strong {
  font-family: "Roboto";
  font-size: 14px;
  color: black;
  font-style: revert;
  font-weight: revert;
}

.menu__sous-titre {
  text-transform: uppercase;
}
.menu__sous-titre::after {
  content: "";
  display: block;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  width: 30px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.fa-heart {
  font-size: x-large;
}

.logo {
  width: 150px;
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 20%;
  }
}
.logo--smaller {
  width: 90px;
  filter: invert(1);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .logo--smaller {
    margin-bottom: 0;
    flex: 0 0 15%;
    height: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .logo--smaller {
    flex: 0 0 10%;
    height: 30px;
  }
}

.btn {
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  width: 180px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-family: "Roboto";
  font-size: 14px;
  color: white;
  font-style: revert;
  font-weight: revert;
  box-shadow: 0px 5px 15px #DEDEDE;
}
.btn:hover {
  box-shadow: 0px 5px 0px #ababab;
  background-image: linear-gradient(175deg, #fface8, #ae80e5);
}

.btn-back {
  background-color: white;
  border: none;
  border-radius: revert;
  padding: 0 0 0 15px;
  margin: revert;
  width: revert;
}

.btn-like {
  background-color: white;
  border: none;
  border-radius: revert;
  padding: 0;
  margin: revert;
  width: revert;
  position: absolute;
  z-index: 1;
}
.btn-like:hover {
  opacity: 0;
}
.btn-like:hover + .btn-like--sol .fa-solid, .btn-like + .btn-like--sol {
  opacity: 1;
  transform: scaleY(1);
}
.btn-like--sol {
  opacity: 0;
  background-color: white;
  border: none;
  border-radius: revert;
  padding: 0;
  margin: revert;
  width: revert;
}
.btn-like--sol .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, #FF79DA, #9356DC);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 1000ms ease-in-out;
}
.btn-like--solgreybg {
  background-color: #F7F7F7;
  border: none;
  border-radius: revert;
  padding: 0;
  margin: revert;
  width: revert;
}
.btn-like--solgreybg .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, #FF79DA, #9356DC);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 1000ms ease-in-out;
}
.btn-like--greybg {
  background-color: #F7F7F7;
  border: none;
  border-radius: revert;
  padding: 0;
  margin: revert;
  width: revert;
  position: absolute;
  z-index: 1;
}
.btn-like--greybg:hover {
  opacity: 0;
}
.btn-like--greybg:hover + .btn-like--solgreybg .fa-solid, .btn-like--greybg + .btn-like--solgreybg {
  opacity: 1;
  transform: scaleY(1);
}

.img-restaurant {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

.card-plat {
  background-color: white;
  border: revert;
  border-radius: 15px;
  padding: revert;
  margin: 15px 0;
  width: 95%;
  box-shadow: 0px 5px 15px #DEDEDE;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card-plat h2 {
  padding: 0 10px 0;
  margin-bottom: 0.2em;
  font-size: 16px;
}
.card-plat p, .card-plat strong {
  font-size: 12px;
}
.card-plat:hover .card-plat__prix {
  transform: translateX(-3rem);
}
.card-plat:hover .check {
  transform: scaleX(1);
}
.card-plat:hover .fa-circle-check {
  transform: rotate(0deg);
}
.card-plat:hover .card-plat__titre, .card-plat:hover .card-plat__sous-titre {
  -webkit-animation: rogner 0.1s 0.5s ease-in-out both;
          animation: rogner 0.1s 0.5s ease-in-out both;
}

.card-plat__txt {
  width: 100%;
}

.card-plat__bottom-txt {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 10px 5px;
}

.card-plat__prix {
  position: absolute;
  right: 1rem;
  transition: transform 1s ease-in-out;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  height: 100%;
  background-color: #99E2D0;
  border: revert;
  border-radius: 0 15px 15px 0;
  padding: revert;
  margin: revert;
  width: 60px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1s ease-in-out;
}

.fa-circle-check {
  color: white;
  transform: rotate(180deg);
  transition: transform 0.5s 0.3s ease-in-out;
}

@-webkit-keyframes rogner {
  0% {
    max-width: 100%;
  }
  100% {
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@keyframes rogner {
  0% {
    max-width: 100%;
  }
  100% {
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.header-restaurant {
  display: flex;
  align-items: center;
}
.header-restaurant div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

footer {
  background-color: black;
  border: revert;
  border-radius: revert;
  padding: revert;
  margin: revert;
  width: revert;
  width: 100%;
  max-width: 1920px;
}
footer p, footer strong {
  color: white;
  margin: 0.5em 0;
}
footer div {
  margin: 0.5em 0;
}

.footer-div {
  padding: 20px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  }
}

.fa-utensils {
  color: white;
  margin: 0 0.7em 0 0;
}

.fa-handshake-simple {
  color: white;
  transform: rotate(-45deg);
  margin: 0 0.3em 0 0;
}

.menu {
  background-color: #F7F7F7;
  border: revert;
  border-radius: 40px 40px 0 0;
  padding: 10px 0 20px 15px;
  margin: -120px 0 0 0;
  width: revert;
  position: relative;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.menu__entree {
  -webkit-animation: apparition 1.5s ease-in-out both;
          animation: apparition 1.5s ease-in-out both;
}
.menu__plat {
  -webkit-animation: apparition 1.5s 0.5s ease-in-out both;
          animation: apparition 1.5s 0.5s ease-in-out both;
}
.menu__dessert {
  -webkit-animation: apparition 1.5s 1s ease-in-out both;
          animation: apparition 1.5s 1s ease-in-out both;
}
@media screen and (min-width: 768px) {
  .menu ul {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .menu li {
    flex: 0 1 50%;
  }
}
@media screen and (min-width: 1024px) {
  .menu li {
    flex: 0 1 33%;
  }
}

.centrer-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 15px;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.body-index h1 {
  font-family: "Roboto";
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  font-size: 50px;
  -webkit-animation: disparition 1s 2s ease-out both;
          animation: disparition 1s 2s ease-out both;
}
.loader .primary-color {
  color: #9356DC;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-animation: loader 3s ease-in-out both;
          animation: loader 3s ease-in-out both;
  z-index: 2;
}
.loader .secondary-color {
  color: #FF79DA;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-animation: loaderReverse 2.5s 0.5s ease-in-out both;
          animation: loaderReverse 2.5s 0.5s ease-in-out both;
  z-index: 1;
}

.header-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 4px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 5px #DEDEDE;
}

.location {
  text-align: center;
  background-color: #EAEAEA;
  border: revert;
  border-radius: revert;
  padding: 10px 0;
  margin: revert;
  width: 100%;
}

.description {
  text-align: center;
  background-color: #F7F7F7;
  border: revert;
  border-radius: revert;
  padding: 20px 0;
  margin: revert;
  width: 100%;
}

.instructions {
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .instructions h2 {
    margin: 20px 0 20px 15px;
  }
}
@media screen and (min-width: 768px) {
  .instructions ul {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .instructions ul {
    margin: 0 30px;
  }
}
.instructions li {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  border: revert;
  border-radius: 15px;
  padding: 15px;
  margin: 0 0 20px;
  width: 90%;
  box-shadow: 0px 5px 15px #DEDEDE;
}
@media screen and (min-width: 768px) {
  .instructions li {
    flex: 0 1 30%;
    white-space: nowrap;
    margin: 0 8px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .instructions li {
    margin: 0 20px 20px;
  }
}
.instructions li p {
  transform: translateX(-1.9em);
  color: white;
  background-color: #9356DC;
  border: revert;
  border-radius: 20px;
  padding: 3px 7px;
  margin: revert;
  width: revert;
}
.instructions li div {
  display: flex;
  margin: 0 1em 0 0;
}

.fa-mobile-screen-button {
  margin: 0 1.4em 0 0;
}

.fa-store {
  margin: 0 1em 0 0;
}

.restaurants {
  background-color: #F7F7F7;
  border: revert;
  border-radius: revert;
  padding: 20px;
  margin: 0 0 50px;
  width: revert;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    border-radius: 20px;
    margin: 0 20px 80px;
  }
}
@media screen and (min-width: 768px) {
  .restaurants ul {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants ul {
    flex-wrap: nowrap;
  }
}
.restaurants li {
  background-color: white;
  border: revert;
  border-radius: 20px;
  padding: revert;
  margin: 0 0 30px 0;
  width: revert;
  box-shadow: 0px 5px 15px #DEDEDE;
}
@media screen and (min-width: 768px) {
  .restaurants li {
    flex: 0 1 44%;
    margin: 0 20px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants li {
    flex: 0 1 23%;
  }
}
.restaurants img {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-restaurant__new {
  display: inline-block;
  position: absolute;
  transform: translateX(-5em);
  color: #279E80;
  font-weight: bold;
  background-color: #99E2D0;
  border: revert;
  border-radius: revert;
  padding: 5px;
  margin: revert;
  width: revert;
}

.card-restaurant__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.card-restaurant__text h3 {
  margin-bottom: 0.3em;
}
.card-restaurant__text p {
  margin-top: 0.3em;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(180deg);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(180deg);
  }
}
@-webkit-keyframes loaderReverse {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-180deg);
  }
}
@keyframes loaderReverse {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
  }
}/*# sourceMappingURL=main.css.map */