$color:(primary:#9356DC,secondary:#FF79DA,tertiary:#99E2D0);
$colorGrey:(shadow:#DEDEDE,dark:#EAEAEA,light:#F7F7F7);
$font:(txt:'Roboto',titre:'Shrikhand');
$fontSize:(p:14px,h1:22px,h2:18px,h3:16px);
$colorBgFooter:black;
$colorBgCard:white;
$minWidth:(tablette:768px,desktop:1024px);
$maxWidth:(tablette:1023.999px,desktop:1920px);
