@import "../Utils/variables";
@import "../Utils/mixin";

.body-index h1{
    font-family: map-get($font,txt);
}

.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: map-get($map: $colorGrey, $key: light);
    z-index: 999;
    font-size: 50px;
    animation: disparition 1s 2s ease-out both;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .primary-color{
        color: map-get($color,primary);
        position: absolute;
        top:50%;
        left: 50%;
        animation: loader 3s ease-in-out both;
        z-index: 2;
    }

    .secondary-color{
        color: map-get($color,secondary);
        position: absolute;
        top:50%;
        left: 50%;
        animation: loaderReverse 2.5s 0.5s ease-in-out both;
        z-index: 1;
    }
}
.header-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:25px;
    margin-bottom: 4px;
    padding-bottom: 20px;
    box-shadow:0px 5px 5px map-get($colorGrey,shadow);
}

.location{
    text-align: center;
    @include backgroundColorAndShape(map-get($colorGrey,dark),100%,10px 0);
}

.description{
    text-align: center;
    @include backgroundColorAndShape(map-get($colorGrey,light),100%,20px 0);
}

.instructions {
    padding:20px;
    h2{
        @include desktopOnly{
            margin:20px 0 20px 15px;
        }
    }
    ul{
        @include tabletteOnly{
            display:flex;
        }
        @include desktopOnly{
            margin:0 30px;
        }
    }
    li{
        display: flex;
        align-items: center;
        @include backgroundColorAndShape(map-get($colorGrey,light),90%,15px,0 0 20px,$borderRadius:15px);
        box-shadow:map-get($shadowCard,listLength) map-get($shadowCard,color);
        @include tabletteOnly{
            flex: 0 1 30%;
            white-space: nowrap;
            margin:0 8px 20px;
        }
        @include desktopOnly{
            margin:0 20px 20px;
        }
        p{
            transform:translateX(-1.9em);
            color:white;
            @include backgroundColorAndShape(map-get($color,primary),$padding:3px 7px,$borderRadius:20px);
        }
        div{
            display:flex;
            margin:0 1em 0 0;
        }
    }
}

.fa-mobile-screen-button{
    margin:0 1.4em 0 0;
}

.fa-store{
    margin:0 1em 0 0;
}

.restaurants{
    @include backgroundColorAndShape(map-get($colorGrey,light),$padding:20px);
    @include desktopOnly{
        border-radius: 20px;
        margin:0 20px 80px;
    }
    ul{
        @include tabletteOnly{
            display:flex;
            flex-wrap: wrap;
        }
        @include desktopOnly{
            flex-wrap: nowrap;
        }
    }
    li{
        @include backgroundColorAndShape($colorBgCard,$margin: 0 0 30px 0,$borderRadius:20px);
        box-shadow:map-get($shadowCard,listLength) map-get($shadowCard,color);
        @include tabletteOnly{
            flex:0 1 44%;
            margin:0 20px 30px;
        }
        @include desktopOnly{
            flex:0 1 23%;
        }
    }
    img{
        width:100%;
        height: 150px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
}

.card-restaurant__new{
    display: inline-block;
    position: absolute;
    transform: translateX(-5em);
    color:#279E80;
    font-weight: bold;
    @include backgroundColorAndShape(map-get($color,tertiary),$padding:5px);
}

.card-restaurant__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.card-restaurant__text{
    h3{
        margin-bottom: 0.3em;
    }
    p{
        margin-top: 0.3em;
    }
}

@keyframes loader{
    0%{
        opacity: 1;
        transform: rotate(0deg);
    }

    100%{
        opacity:0;
        transform: rotate(180deg);
    }
}

@keyframes loaderReverse {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      opacity: 0;
      transform: rotate(-180deg);
    }
}

@keyframes disparition{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: scale(0);
        transform-origin: top left;
    }
}