@import "../Utils/variables";
@import "../Utils/mixin";

footer{
    @include background($colorBgFooter);
    transform: translateY(-3em);
    position: absolute;
    width:100%;
    p,strong{
        color:white;
        @include margin(0.5em 0);
    }
    div{
        @include margin(0.5em 0);
    }
}
.footer-div{
    padding:20px;
    margin:0;
    
}
.fa-utensils{
    color:white;
    @include margin(0 0.7em 0 0);
}
.fa-handshake-simple{
    color:white;
    transform: rotate(-45deg);
    @include margin(0 0.3em 0 0);
}

