@import "../Utils/variables";
@import "../Utils/mixin";


.menu{
    @include backgroundColorAndShape(map-get($colorGrey,light),$margin: -80px 0 0 0,$padding:10px 0 20px 15px,$borderRadius:40px 40px 0 0);
    position: relative;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:95%;
    }
    &__entree{
        animation: apparition 1.5s ease-in-out both;
    }

    &__plat{
        animation: apparition 1.5s 0.5s ease-in-out both;
    }

    &__dessert{
        animation: apparition 1.5s 1s ease-in-out both;
    }
    ul{
        @include tabletteOnly{
            display:flex;
            flex-wrap: wrap;
        }
    }
    li{
        @include tabletteOnly{
            flex: 0 1 50%;
        }
        @include desktopOnly{
            flex: 0 1 33%;
        }
    }

}

.centrer-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:30px 0 15px;
}

@keyframes apparition{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}