@import "../Utils/variables";
@import "../Utils/mixin";

.btn{
    background-image: linear-gradient(175deg,map-get($color,secondary),map-get($color,primary));
    width: 180px;
    border-radius: 20px;
    border:none;
    padding:10px;
    @include font(map-get($font,txt),map-get($fontSize,p),white);
    @include shadow(0px 5px 15px, map-get($colorGrey,shadow));
    &:hover{
        @include shadow(0px 5px 0px, darken(map-get($colorGrey,shadow),20%));
        background-image: linear-gradient(175deg,lighten(map-get($color,secondary),10%),lighten(map-get($color,primary),10%));
    }
}

.btn-back{
    @include background(white,$padding:0 0 0 15px,$border:none);
}

.btn-like{
    @include background(white,$padding:0,$border:none);
    position: absolute;
    z-index: 1;
    &:hover{
        opacity:0;
    }
    &:hover + .btn-like--sol .fa-solid, + .btn-like--sol{
        opacity: 1;
        transform: scaleY(1);
    }
    &--sol{
        opacity: 0;
        @include background(white,$padding:0,$border:none);
        .fa-solid{
            opacity: 0;
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(45deg, map-get($color,secondary),map-get($color,primary));
            transform:scaleY(0);
            transform-origin: bottom;
            transition:transform 1000ms ease-in-out;
        }
        &greybg{
            @include background(map-get($colorGrey,light),$padding:0,$border:none);
            .fa-solid{
                opacity: 0;
                color:transparent;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(45deg, map-get($color,secondary),map-get($color,primary));
                transform:scaleY(0);
                transform-origin: bottom;
                transition:transform 1000ms ease-in-out;
            }
        }
    }
    &--greybg{
        @include background(map-get($colorGrey,light),$padding:0,$border:none);
        position: absolute;
        z-index: 1;
        &:hover{
            opacity: 0;
        }
        &:hover + .btn-like--solgreybg .fa-solid, + .btn-like--solgreybg{
            opacity: 1;
            transform: scaleY(1);
        }
    }
    
}