@import "../Utils/variables";
@import "../Utils/mixin";

.card-plat{
    @include background($colorBgCard,95%,$margin:15px 0,$borderRadius:15px);
    @include shadow(0px 5px 15px, map-get($colorGrey,shadow));
    display: flex;
    overflow: hidden;
    
    h2{
        font-size:16px;
        @include desktopOnly{
            font-size: map-get($fontSize,h2);
        }
    }

    p,strong{
        font-size:12px;
        @include desktopOnly{
            font-size: map-get($fontSize,p);
        }
    }
    &:hover .card-plat__txt{
        flex:0 0 75%;
    }
    &:hover .fa-circle-check{
        transform: rotate(0deg);
    }
}
.card-plat__txt{
    flex:0 0 90%;
    transition: flex 1s ease-in-out;
    overflow: hidden;
    h2,p{
        margin-block: 0.5em;
        padding-left: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.card-plat__prix{
    flex:0 0 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-block: 0.4em;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    @include background(map-get($color,tertiary),$borderRadius:0 15px 15px 0);
    flex:0 0 15%;

}

.fa-circle-check{
    color:white;
    transform: rotate(180deg);
    transition: transform 0.5s 0.3s ease-in-out;
}
