.logo{
    width:150px;
    @include desktopOnly{
        width:20%;
    }
    &--smaller{
        width:90px;
        filter:invert(1);
        margin-bottom: 10px;
        @include tabletteOnly{
            margin-bottom: 0;
            flex: 0 0 15%;
            height: 25px;
        }
        @include desktopOnly{
            flex: 0 0 10%;
            height: 30px;
        }
    }
}

